.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .slide-enter {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .slide-exit {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1s ease, opacity 1s ease;
  }
  


  .addButton {
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(45deg);
  }
  
  .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .show {
    max-height: 100px; /* Adjust according to content size */
  }
  
/* .background_img{
  background-size:contain;
  background-repeat: no-repeat;
  
} */

  

  