.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .slide-enter {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .slide-exit {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1s ease, opacity 1s ease;
  }
  